[Unit]
Description=Updates ddns information for <domain>

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/doddns
ExecStart=/usr/bin/python3 /opt/doddns/doddns.py $APIKEY $DOMAIN $RECORD
