[Unit]
Description=Updates ddns information for <domain>

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/doddns/doddns.py <api_key> <domain> <record>
